accelerate==0.34.2
action-msgs==1.6.0
action-tutorials-interfaces==0.27.2
action-tutorials-py==0.27.2
actionlib-msgs==5.0.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altair==5.4.1
ament-cmake-test==2.0.6
ament-copyright==0.14.4
ament-cppcheck==0.14.4
ament-cpplint==0.14.4
ament-flake8==0.14.4
ament-index-python==1.5.2
ament-lint==0.14.4
ament-lint-cmake==0.14.4
ament-package==0.15.3
ament-pep257==0.14.4
ament-uncrustify==0.14.4
ament-xmllint==0.14.4
angles==1.16.0
annotated-types==0.7.0
anyio==4.5.0
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==24.2.0
backoff==2.2.1
bcrypt==4.2.0
beepy==1.0.7
bitsandbytes==0.43.3
blinker==1.8.2
blis==1.0.1
build==1.2.2
builtin-interfaces==1.6.0
cachetools==5.5.0
captcha==0.6.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.7
click==8.1.7
cloudpathlib==0.20.0
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
composition-interfaces==1.6.0
confection==0.1.5
control-msgs==5.2.0
controller-manager==3.28.1
controller-manager-msgs==3.28.1
cv-bridge==3.5.0
cymem==2.0.8
Cython==3.0.11
dacite==1.8.1
dataclasses-json==0.6.7
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
demo-nodes-py==0.27.2
Deprecated==1.2.14
diagnostic-msgs==5.0.1
diagnostic-updater==4.1.0
distro==1.9.0
domain-coordinator==0.11.2
durationpy==0.7
example-interfaces==0.10.2
examples-rclpy-executors==0.18.1
examples-rclpy-minimal-action-client==0.18.1
examples-rclpy-minimal-action-server==0.18.1
examples-rclpy-minimal-client==0.18.1
examples-rclpy-minimal-publisher==0.18.1
examples-rclpy-minimal-service==0.18.1
examples-rclpy-minimal-subscriber==0.18.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
extra-streamlit-components==0.1.71
faiss-cpu==1.9.0
fastapi==0.115.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
frozenlist==1.4.1
fschat==0.2.36
fsspec==2024.9.0
ftfy==6.3.1
geometry-msgs==5.0.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
googleapis-common-protos==1.65.0
greenlet==3.1.0
grpcio==1.66.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.25.0
humanfriendly==10.0
idna==3.10
image-geometry==3.5.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources==6.4.5
interactive-markers==2.4.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1727944696411/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kubernetes==31.0.0
langchain==0.3.0
langchain-chroma==0.1.4
langchain-community==0.3.0
langchain-core==0.3.12
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langcodes==3.4.1
langgraph==0.2.39
langgraph-checkpoint==2.0.1
langgraph-sdk==0.1.33
langsmith==0.1.125
language_data==1.2.0
laser-geometry==2.5.0
latex2mathml==3.77.0
launch==2.0.4
launch-ros==0.24.1
launch-testing==2.0.4
launch-testing-ros==0.24.1
launch-xml==2.0.4
launch-yaml==2.0.4
lifecycle-msgs==1.6.0
lightgbm==4.5.0
logging-demo==0.27.2
map-msgs==2.2.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
markdown2==2.5.1
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl==0.1.2
message-filters==4.7.1
mmh3==5.0.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.8.2
nav-msgs==5.0.1
neo4j==5.25.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.3
nh3==0.2.18
nmslib==2.0.6
numpy==2.0.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.52.0
opencv-python==4.10.0.84
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.7
osrf-pycommon==2.1.2
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pcl-msgs==1.0.0
peft==0.13.2
pendulum-msgs==0.27.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
posthog==3.6.6
preshed==3.0.9
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
protobuf==4.25.5
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pybind11==2.13.6
pyclipper==1.3.0.post5
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyjnius==1.6.1
PyJWT==2.9.0
pypdf==5.0.0
PyPika==0.48.9
pyproject_hooks==1.1.0
pyserini==0.39.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-qt-binding==1.2.4
pytz==2024.2
PyYAML==6.0.2
pyzmq @ file:///croot/pyzmq_1705605076900/work
qt-dotgraph==2.4.3
qt-gui==2.4.3
qt-gui-cpp==2.4.3
qt-gui-py-common==2.4.3
quality-of-service-demo-py==0.27.2
rank-llm==0.20.2
rapidocr-onnxruntime==1.3.24
rcl-interfaces==1.6.0
rclpy==4.1.6
rcutils==6.2.4
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
resource-retriever==3.2.3
rich==13.8.1
rmw-dds-common==2.0.1
rpds-py==0.20.0
rpyutils==0.3.2
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sensor-msgs==5.0.1
sensor-msgs-py==5.0.1
sentence-transformers==3.1.1
sentencepiece==0.2.0
service-msgs==1.6.0
setuptools==72.1.0
shape-msgs==5.0.1
shapely==2.0.6
shellingham==1.5.4
shortuuid==1.0.13
simpleaudio==1.0.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.11.0
SQLAlchemy==2.0.35
sros2==0.11.3
srsly==2.4.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.38.5
statistics-msgs==1.6.0
std-msgs==5.0.1
std-srvs==5.0.1
stereo-msgs==5.0.1
streamlit==1.38.0
streamlit-authenticator==0.4.1
svgwrite==1.4.3
sympy==1.13.3
teleop-twist-keyboard==2.4.0
tenacity==8.5.0
tf2-geometry-msgs==0.31.8
tf2-kdl==0.31.8
tf2-msgs==0.31.8
tf2-py==0.31.8
tf2-ros-py==0.31.8
tf2-sensor-msgs==0.31.8
tf2-tools==0.31.8
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.19.1
toml==0.10.2
topic-monitor==0.27.2
torch==2.4.1
tornado @ file:///croot/tornado_1718740109488/work
tqdm==4.66.5
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
trajectory-msgs==5.0.1
transformers==4.44.2
triton==3.0.0
turtlesim==1.6.1
type-description-interfaces==1.6.0
typer==0.12.5
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
unique-identifier-msgs==2.3.2
urllib3==2.2.3
uvicorn==0.30.6
uvloop==0.20.0
visualization-msgs==5.0.1
wasabi==1.1.3
watchdog==4.0.2
watchfiles==0.24.0
wavedrom==2.0.3.post3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
weasel==0.4.1
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.4
wheel==0.43.0
wrapt==1.16.0
yarl==1.11.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
